{% extends 'base.html' %}

{% block create_form %}
<h1>Update form</h1>

{% comment %}

https://getbootstrap.com/docs/5.0/forms/floating-labels/#textareas

{% endcomment %}

<form action="{% url 'forms:update_form' pk %}" method="post" id='questionForm'>
    {% csrf_token %}
    <Button type='submit'>Save</Button>

    <div class="card">
        <div class="card-header">
            Title and Description
        </div>
        <div class="card-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="title" name='title'>
                <label for="floatingInput">Form Title</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Description" id="floatingTextarea"
                    name='description'></textarea>
                <label for="floatingTextarea">Form Description</label>
            </div>
        </div>
        <button type='button' id='addQuestion'>Add Question</button>
    </div>


    {% comment %}
    <div class="card mt-5">
        <div class="card-header">
            Question
        </div>
        <div class="card-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Type your question"
                    name='title'>
                <label for="floatingInput">Type your question</label>
            </div>
            <button type='button'>Add Option</button> <br>
            <button type='button' class='mt-3' id='addQuestion'>Add Question</button>
            <button type='button' id='deleteQuestion'>Delete Question</button>
        </div>
    </div>
    {% endcomment %}



</form>

{% endblock create_form %}