{% extends 'base.html' %}
{% load static %}
{% load form_filters %}

{% block content %}
<h1>Update form</h1>
<a href="{% url 'forms:view_form' pk %}" target='_blank'><button>Share</button></a>
<a href="{% url 'forms:responses' pk %}"><button>Responses</button></a>

{% comment %}
https://getbootstrap.com/docs/5.0/forms/floating-labels/#textareas
{% endcomment %}

<form action="{% url 'forms:update_form' pk %}" method="post" id='questionForm'>
    {% csrf_token %}
    <Button type='submit'>Save</Button>

    <div class="card" id='form-description'>
        <div class="card-header">
            Title and Description
        </div>
        <div class="card-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="title" placeholder="title" name='title'>
                <label for="title">Form Title</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Description" id="description"
                    name='description'></textarea>
                <label for="description">Form Description</label>
            </div>
        </div>
        <button type='button' id='addQuestion'>Add Question</button>
    </div>


    {% comment %}
    <div class="card mt-5">
        <div class="card-header">
            Question
        </div>
        <div class="card-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Type your question"
                    name='title'>
                <label for="floatingInput">Type your question</label>
            </div>
            <button type='button'>Add Option</button> <br>
            <button type='button' class='mt-3' id='addQuestion'>Add Question</button>
            <button type='button' id='deleteQuestion'>Delete Question</button>
        </div>
    </div>
    {% endcomment %}

</form>

{% endblock content %}

{% block script %}
    <script src="{% static 'forms.js' %}"></script>
    <script>
        let children = form.children
        children[2].querySelector('[name=title]').value = "{{form.form_data|lookup:'title'}}";
        children[2].querySelector('[name=description]').value = "{{form.form_data|lookup:'description'|escapejs}}";
        {% if form.form_data|lookup:'data' %}
            console.log('hello');
            let addQuestionButtonId = 'addQuestion';
            let addOptionButtonId, question,option_id;
            let i=0;
            {% with form.form_data|lookup:'data' as questions %}
                {% comment %} document.body.innerText = '{{questions|escapejs}}'; {% endcomment %}
                {% for questionId, questionData in questions.items %}
                    i = {{forloop.counter0|escapejs}}+3;
                    console.log(i, "{{questionId|escapejs}}");
                    [addQuestionButtonId, addOptionButtonId] = addQuestion(addQuestionButtonId, false); // First question will be added below the form info div so we will pass button id of that div
                    children = form.children;
                    console.log('tillu');
                    children[i].querySelector('.question').value = "{{questionData.questionText|escapejs}}"
                    {% for option in questionData.options %}
                        option_id = addOption(addOptionButtonId);
                        console.log(option_id);
                        all_opt = children[i].querySelector('.allOptions').children;
                        all_opt[all_opt.length-1].querySelector(`#${option_id}`).value = '{{option}}'
                    {% endfor %}
                {% endfor %}
            {% endwith %}
        {% endif %}
    </script>
{% endblock script %}